# ==========================================
# C# / .NET / Visual Studio
# ==========================================
# Папки сборки и бинарники
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb

# Пользовательские настройки и кэш Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Родственные артефакты .NET
*.swp
*.lut
*.ideraw
.ionide/

# Пакеты NuGet
packages/
*.nuget.props
*.nuget.targets

# ==========================================
# Python
# ==========================================
# Байт-код и кэш
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Виртуальные окружения (Virtual Environments)
venv/
.venv/
env/
.env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Дистрибутивы, сборка и пакеты
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================================
# Среды разработки (IDE) и редакторы
# ==========================================
# JetBrains (Rider, PyCharm)
.idea/

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Локальные файлы конфигурации (переменные окружения)
.env
*.local
*.bat
dump/
